.bar {
    fill: rgb(214, 18, 28);
  }
  .bar:hover {
    fill: rgb(255, 99, 42);
  } 
.tooltip{
  width : 400px; 
  top : 0;
  margin:  0 auto;
  opacity: 0.8;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}